.profile {
  display: flex;
}

.profile-div {
  background-color: var(--color-two);
  box-shadow: 5px 5px 15px var(--color-two);
  flex-shrink: 0;
  width: 250px;
  padding: 15px;
  border-radius: 8px;
  margin: 25px;
}

.profile-img-div {
  border-radius: 8px;
}

.profile-img {
  width: 100%;
  border-radius: 8px;
}

.user-name {
  color: var(--color-four);
  font-size: 24px;
  margin: 10px 0;
  font-weight: 700;
}

.user-info-div {
  margin-top: 10px;
  background-color: var(--color-one);
  border-radius: 8px;
}

.user-bio,
.user-location {
  color: var(--color-two);
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  padding: 10px;
}

.btn-edit {
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.btn-edit:hover {
  background-color: var(--color-four);
}

.dropdown-div {
  margin-top: 15px;
}

.profile-dropdown {
  color: #fff;
  width: 100%;
}
