.user-filter-bar {
  display: flex;
  margin-bottom: 2.5rem;
}

.user-search {
  margin-right: auto;
  margin-left: 7rem;
  width: 15rem;
  background-color: var(--color-two);
  color: var(--color-four);
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 20px;
}

.user-search::placeholder {
  color: var(--color-four);
}
