.users-container > h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  padding: 50px;
}
