.shoes-filter-bar {
  display: flex;
  margin-bottom: 2.5rem;
}

.year-dropdown {
  width: 15rem;
  margin-left: auto;
  margin-right: 15rem;
  background-color: var(--color-two);
  color: var(--color-four);
  border: none;
  border-radius: 7.5px;
  padding: 0.5rem;
  font-size: 20px;
}

.shoe-search {
  width: 15rem;
  margin-left: 14rem;
  margin-right: auto;
  background-color: var(--color-two);
  color: var(--color-four);
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 20px;

  &::placeholder {
    color: var(--color-four);
  }
}
