.shoe-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}

.user-shoe {
  background-color: var(--color-two);
  /* box-shadow: 5px 5px 15px var(--color-two); */
  color: var(--color-five);
  padding: 15px;
  border-radius: 8px;
  width: 225px;
}

.user-shoe-img-div {
  overflow: hidden;
  border-radius: 8px;
}

.user-shoe-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.collection-shoe-name {
  color: var(--color-four);
  font-size: 18px;
  margin-top: 10px;
}

.user-shoe-info {
  margin-top: 10px;
}

.user-shoe-size,
.user-shoe-condition,
.user-shoe-description {
  color: var(--color-one);
  font-weight: 600;
  margin-top: 3px;
}

.btn-div {
  display: flex;
  flex-direction: column;
}

.btn-remove,
.btn-edit-shoe {
  background-color: var(--color-one);
  color: #021e31;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;

  &:hover {
    background-color: var(--color-four);
  }
}
