.shoe {
  border-radius: 8px;
  margin: 7.5px;
  background-color: var(--color-two);
  /* box-shadow: 5px 5px 15px var(--color-two); */
  padding: 15px;
}

.shoe-img {
  width: 20rem;
  overflow: auto;
  border-radius: 8px;
}

.shoe-name {
  color: var(--color-four);
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.5rem 0 0 1rem;
}
