.friends-list {
  color: var(--color-one);
  background-color: var(--color-two);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.friends-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-four);
  text-decoration: underline;
}

.add-friend-btn,
.remove-friend-btn {
  width: 100%;
  margin-top: 10px;
  height: 2rem;
  color: whitesmoke;
  background-color: var(--color-one);
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;

  &:hover {
    background-color: var(--color-four);
  }
}

.friend {
  margin: 5px 8px;
  display: flex;
  justify-content: center;
}

.friend-avatar {
  width: 50px;
  border: 5px solid var(--color-one);
  border-radius: 8px;
}

.friend-name {
  font-size: 12.5px;
  width: 35px;
}
