.flex {
  display: flex;
}

.flex-left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.shoe-img {
  max-width: 25%;
  max-height: 25%;
}

.shoe {
  border: solid 5px black;
  border-radius: 15px;
}