.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-two);
  box-shadow: 5px 5px 15px var(--color-two);
}

.navbar-item {
  font-size: 2rem;
  list-style-type: none;
  padding: 1rem;
  color: var(--color-four);
}
