.form-main {
  width: 50%;
  margin: 2.5rem auto 1.5rem auto;
  background-color: whitesmoke;
}

.form-main > h1 {
  font-size: 3rem;
  text-align: center;
}

.form-main > h2 {
  font-size: 2rem;
  text-align: center;
}

/*****FORM STYLING*****/

form {
  border: 2px solid lightgray;
  border-radius: 12.5px;
  padding: 5rem;
  box-shadow: 5px 5px 10px lightgray;
}

fieldset {
  display: flex;
  min-width: 0;
  padding-bottom: 0.75rem;
  margin: 0;
  border: 0;
}

h4 {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 0.5rem;
  border: 2px solid lightgray;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 50rem;
}

.state-dropdown {
  width: 51.15rem;
}

/* .radio-group {
  display: inline-block;
  background-color: whitesmoke;
  border: 2px solid lightgray;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 15rem;
} */

.btn-submit {
  background-color: #40798c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.register-link {
  color: #40798c;
  text-decoration: underline #40798c;
}
