.welcome-div {
  margin: 2rem auto;
  width: 75%;
  border: 2px solid var(--color-two);
  border-radius: 35px;
  /* box-shadow: 7.5px 7.5px 15px var(--color-two); */
  background-color: var(--color-two);
  width: 55%;
  padding-bottom: 4rem;
}

.welcome-div > h1 {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-four);
}

.welcome-div > div {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--color-four);
}

.welcome-img {
  height: 35rem;
  width: 35rem;
  border-radius: 35px;
  /* box-shadow: 5px 5px 15px; */
  align-self: center;
}
